<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>画个押</title>
  <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>/favicon.ico" />
</head>
<body>
  <div id="root"></div>
</body>
<script src="https://map.qq.com/api/gljs?v=1.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
</html>